anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
Bottleneck
brotlipy==0.7.0
certifi
cffi
click
comm
cryptography
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
Flask
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
lxml
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
packaging
pandas==1.5.3
pandocfilters
parso
pexpect
pickleshare
pkgutil_resolve_name
platformdirs
ply==3.11
prettytable==3.7.0
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pyecharts==2.0.3
Pygments
PyMySQL
pyOpenSSL
PyQt5-sip==12.11.0
pyrsistent
PySocks
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
Send2Trash
simplejson==3.19.1
sip
six
sniffio
soupsieve
stack-data
terminado
tinycss2
toml
tomli
tornado
traitlets
typing_extensions
urllib3
wcwidth==0.2.6
webencodings==0.5.1
websocket-client
Werkzeug
widgetsnbextension
zipp
flask~=2.2.2
markupsafe~=2.1.1
