<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nju.sentistrength.project.dao.DataMapper">
  <resultMap id="BaseResultMap" type="nju.sentistrength.project.model.Data">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="issue_number" jdbcType="INTEGER" property="issueNumber" />
    <result column="internal_issue_number" jdbcType="INTEGER" property="internalIssueNumber" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="ended_at" jdbcType="TIMESTAMP" property="endedAt" />
    <result column="is_pull_request" jdbcType="BIT" property="isPullRequest" />
    <result column="labels" jdbcType="VARCHAR" property="labels" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="version_number" jdbcType="VARCHAR" property="versionNumber" />
    <result column="positive_score" jdbcType="INTEGER" property="positiveScore" />
    <result column="negative_score" jdbcType="INTEGER" property="negativeScore" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>